{% extends "base.html" %} {% block content %} {% if user.is_authenticated %} 
{% if user.id == recipe.author.id %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h1>Delete Recipe</h1>
      <br /><br />
      <h3>Delete: {{ recipe.title }}</h3>
      <br />
      <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-general">Delete</button>
      </form>
    </div>
  </div>
</div>
{% endif %} {% endif %} {% endblock %}
